<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="path-to-your-font-awesome.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Profile Website</title>
</head>
<body>
    <input type="checkbox" id="check">
        <div class="navbar">
            <div class="logo">adrt</div>
            <ol class="menuitems">
                <li><a href="../templates/index.html">Home</a></li>
                <li><a href="../templates/works.html">Portfolio</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
                <li><a href="../templates/profile.html">About Me</a></li>
            </ol>
            
            <label for="check" class="fa fa-bars"></label>
        </div>

        <div class="container">
            <div class="text_container">
                <h2>I'm Ann<br>Denise Tadeo</h2>
                <h5>Computer Engineer | student</h5>
                <p> A highly motivated computer engineering student eager to apply theoretical knowledge and 
                    gain practical experience. Committed to learning and delivering exceptional results in my OJT role, 
                    I excel in problem-solving, critical thinking, and academic excellence. With a solid foundation in 
                    computer engineering principles, hardware, and software methodologies, I contribute effectively to 
                    all phases of product development.
                </p>
                <a href="../templates/contact.html" class="btn">Contact Me</a>

            </div>
            <div class="image_container">   
        
                <span class="animblob"></span>
            </div>
        </div>

        <div class="icons">
            <a href="https://www.instagram.com/_andns">
                <i class="fa fa-instagram"></i>
            </a><br>
            
            <a href="https://github.com/andnstadeo">
                <i class="fa fa-github"></i>
            </a><br>
            
            <a href="https://www.linkedin.com/in/ann-denise-tadeo-064103242">
                <i class="fa fa-linkedin"></i>
            </a><br>
            
        </div>
    </section>
</body>
</html>